<h1>Shopping cart</h1>
<% @carted_products_controller.each do |carted_product| %>
  <h2><%= carted_product.product.name %></h2>
  <h3>Quantity: <%= carted_product.quantity %></h3>
  <%= form_tag "/carted_products/#{carted_product.id}", method: "delete" do %>
    <input type="submit" value="Remove from cart" class="btn btn-danger">
  <% end %>
<% end %>
<%= form_tag "/orders", method: "post" do %>
  <input type="submit" value="Buy now!" class="btn btn-default">
<% end %>