// TYPEOGRAPHY

body { 
        font-family: "Lucida Bright",Georgia,serif;
        background-image: url("cloudy-day.png"); 
      }

.product-index-singled {
  height: 650px;
}

.well img{
  width: 100%
}


